set_location sck_counter_r_RNO[0] 6 8 1 # SB_LUT4 (LogicCell: sck_counter_r[0]_LC_0)
set_location sck_counter_r[0] 6 8 1 # SB_DFFS (LogicCell: sck_counter_r[0]_LC_0)
set_location sck_counter_r_RNO[1] 6 8 0 # SB_LUT4 (LogicCell: sck_counter_r[1]_LC_1)
set_location sck_counter_r[1] 6 8 0 # SB_DFFS (LogicCell: sck_counter_r[1]_LC_1)
set_location sck_counter_r_RNO[10] 5 9 1 # SB_LUT4 (LogicCell: sck_counter_r[10]_LC_2)
set_location sck_counter_r[10] 5 9 1 # SB_DFFS (LogicCell: sck_counter_r[10]_LC_2)
set_location un2_sck_counter_r_cry_10_c 5 9 1 # SB_CARRY (LogicCell: sck_counter_r[10]_LC_2)
set_location sck_counter_r_RNO[11] 5 9 2 # SB_LUT4 (LogicCell: sck_counter_r[11]_LC_3)
set_location sck_counter_r[11] 5 9 2 # SB_DFFR (LogicCell: sck_counter_r[11]_LC_3)
set_location sck_counter_r_RNO[2] 5 8 1 # SB_LUT4 (LogicCell: sck_counter_r[2]_LC_4)
set_location sck_counter_r[2] 5 8 1 # SB_DFFS (LogicCell: sck_counter_r[2]_LC_4)
set_location un2_sck_counter_r_cry_2_c 5 8 1 # SB_CARRY (LogicCell: sck_counter_r[2]_LC_4)
set_location sck_counter_r_RNO[3] 5 8 2 # SB_LUT4 (LogicCell: sck_counter_r[3]_LC_5)
set_location sck_counter_r[3] 5 8 2 # SB_DFFS (LogicCell: sck_counter_r[3]_LC_5)
set_location un2_sck_counter_r_cry_3_c 5 8 2 # SB_CARRY (LogicCell: sck_counter_r[3]_LC_5)
set_location sck_counter_r_RNO[4] 5 8 3 # SB_LUT4 (LogicCell: sck_counter_r[4]_LC_6)
set_location sck_counter_r[4] 5 8 3 # SB_DFFS (LogicCell: sck_counter_r[4]_LC_6)
set_location un2_sck_counter_r_cry_4_c 5 8 3 # SB_CARRY (LogicCell: sck_counter_r[4]_LC_6)
set_location sck_counter_r_RNO[5] 5 8 4 # SB_LUT4 (LogicCell: sck_counter_r[5]_LC_7)
set_location sck_counter_r[5] 5 8 4 # SB_DFFS (LogicCell: sck_counter_r[5]_LC_7)
set_location un2_sck_counter_r_cry_5_c 5 8 4 # SB_CARRY (LogicCell: sck_counter_r[5]_LC_7)
set_location sck_counter_r_RNO[6] 5 8 5 # SB_LUT4 (LogicCell: sck_counter_r[6]_LC_8)
set_location sck_counter_r[6] 5 8 5 # SB_DFFS (LogicCell: sck_counter_r[6]_LC_8)
set_location un2_sck_counter_r_cry_6_c 5 8 5 # SB_CARRY (LogicCell: sck_counter_r[6]_LC_8)
set_location sck_counter_r_RNO[7] 5 8 6 # SB_LUT4 (LogicCell: sck_counter_r[7]_LC_9)
set_location sck_counter_r[7] 5 8 6 # SB_DFFS (LogicCell: sck_counter_r[7]_LC_9)
set_location un2_sck_counter_r_cry_7_c 5 8 6 # SB_CARRY (LogicCell: sck_counter_r[7]_LC_9)
set_location sck_counter_r_RNO[8] 5 8 7 # SB_LUT4 (LogicCell: sck_counter_r[8]_LC_10)
set_location sck_counter_r[8] 5 8 7 # SB_DFFS (LogicCell: sck_counter_r[8]_LC_10)
set_location un2_sck_counter_r_cry_8_c 5 8 7 # SB_CARRY (LogicCell: sck_counter_r[8]_LC_10)
set_location sck_counter_r_RNO[9] 5 9 0 # SB_LUT4 (LogicCell: sck_counter_r[9]_LC_11)
set_location sck_counter_r[9] 5 9 0 # SB_DFFS (LogicCell: sck_counter_r[9]_LC_11)
set_location un2_sck_counter_r_cry_9_c 5 9 0 # SB_CARRY (LogicCell: sck_counter_r[9]_LC_11)
set_location sck_en_r_RNIBLR5 6 8 3 # SB_LUT4 (LogicCell: sck_en_r_RNIBLR5_LC_12)
set_location u_pll_RNISDD6 4 14 6 # SB_LUT4 (LogicCell: u_pll_RNISDD6_LC_13)
set_location vox_clk_r_RNO 6 9 6 # SB_LUT4 (LogicCell: vox_clk_r_LC_14)
set_location vox_clk_r 6 9 6 # SB_DFFS (LogicCell: vox_clk_r_LC_14)
set_location pattern_shift_r_0_THRU_LUT4_0 5 7 3 # SB_LUT4 (LogicCell: pattern_shift_r[0]_LC_15)
set_location pattern_shift_r[0] 5 7 3 # SB_DFFES (LogicCell: pattern_shift_r[0]_LC_15)
set_location pattern_shift_r_1_THRU_LUT4_0 5 7 0 # SB_LUT4 (LogicCell: pattern_shift_r[1]_LC_16)
set_location pattern_shift_r[1] 5 7 0 # SB_DFFER (LogicCell: pattern_shift_r[1]_LC_16)
set_location pattern_shift_r_10_THRU_LUT4_0 6 7 1 # SB_LUT4 (LogicCell: pattern_shift_r[10]_LC_17)
set_location pattern_shift_r[10] 6 7 1 # SB_DFFER (LogicCell: pattern_shift_r[10]_LC_17)
set_location pattern_shift_r_11_THRU_LUT4_0 6 7 3 # SB_LUT4 (LogicCell: pattern_shift_r[11]_LC_18)
set_location pattern_shift_r[11] 6 7 3 # SB_DFFES (LogicCell: pattern_shift_r[11]_LC_18)
set_location pattern_shift_r_12_THRU_LUT4_0 6 7 5 # SB_LUT4 (LogicCell: pattern_shift_r[12]_LC_19)
set_location pattern_shift_r[12] 6 7 5 # SB_DFFES (LogicCell: pattern_shift_r[12]_LC_19)
set_location pattern_shift_r_13_THRU_LUT4_0 6 7 4 # SB_LUT4 (LogicCell: pattern_shift_r[13]_LC_20)
set_location pattern_shift_r[13] 6 7 4 # SB_DFFES (LogicCell: pattern_shift_r[13]_LC_20)
set_location pattern_shift_r_14_THRU_LUT4_0 6 7 7 # SB_LUT4 (LogicCell: pattern_shift_r[14]_LC_21)
set_location pattern_shift_r[14] 6 7 7 # SB_DFFES (LogicCell: pattern_shift_r[14]_LC_21)
set_location pattern_shift_r_15_THRU_LUT4_0 6 7 6 # SB_LUT4 (LogicCell: pattern_shift_r[15]_LC_22)
set_location pattern_shift_r[15] 6 7 6 # SB_DFFES (LogicCell: pattern_shift_r[15]_LC_22)
set_location pattern_shift_r_2_THRU_LUT4_0 5 7 4 # SB_LUT4 (LogicCell: pattern_shift_r[2]_LC_23)
set_location pattern_shift_r[2] 5 7 4 # SB_DFFES (LogicCell: pattern_shift_r[2]_LC_23)
set_location pattern_shift_r_3_THRU_LUT4_0 5 7 5 # SB_LUT4 (LogicCell: pattern_shift_r[3]_LC_24)
set_location pattern_shift_r[3] 5 7 5 # SB_DFFER (LogicCell: pattern_shift_r[3]_LC_24)
set_location pattern_shift_r_4_THRU_LUT4_0 5 7 6 # SB_LUT4 (LogicCell: pattern_shift_r[4]_LC_25)
set_location pattern_shift_r[4] 5 7 6 # SB_DFFER (LogicCell: pattern_shift_r[4]_LC_25)
set_location pattern_shift_r_5_THRU_LUT4_0 5 7 2 # SB_LUT4 (LogicCell: pattern_shift_r[5]_LC_26)
set_location pattern_shift_r[5] 5 7 2 # SB_DFFER (LogicCell: pattern_shift_r[5]_LC_26)
set_location pattern_shift_r_6_THRU_LUT4_0 5 7 7 # SB_LUT4 (LogicCell: pattern_shift_r[6]_LC_27)
set_location pattern_shift_r[6] 5 7 7 # SB_DFFER (LogicCell: pattern_shift_r[6]_LC_27)
set_location pattern_shift_r_7_THRU_LUT4_0 5 7 1 # SB_LUT4 (LogicCell: pattern_shift_r[7]_LC_28)
set_location pattern_shift_r[7] 5 7 1 # SB_DFFER (LogicCell: pattern_shift_r[7]_LC_28)
set_location pattern_shift_r_8_THRU_LUT4_0 6 7 0 # SB_LUT4 (LogicCell: pattern_shift_r[8]_LC_29)
set_location pattern_shift_r[8] 6 7 0 # SB_DFFER (LogicCell: pattern_shift_r[8]_LC_29)
set_location pattern_shift_r_9_THRU_LUT4_0 6 7 2 # SB_LUT4 (LogicCell: pattern_shift_r[9]_LC_30)
set_location pattern_shift_r[9] 6 7 2 # SB_DFFES (LogicCell: pattern_shift_r[9]_LC_30)
set_location sck_en_r_THRU_LUT4_0 6 9 7 # SB_LUT4 (LogicCell: sck_en_r_LC_31)
set_location sck_en_r 6 9 7 # SB_DFFR (LogicCell: sck_en_r_LC_31)
set_location GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0 6 1 6 # SB_LUT4 (LogicCell: GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0_LC_32)
set_location un2_sck_counter_r_cry_1_c 5 8 0 # SB_CARRY (LogicCell: un2_sck_counter_r_cry_1_c_LC_33)
set_location PLL_BUFFER_u_pll_LOCK_THRU_LUT4_0 1 1 0 # SB_LUT4 (LogicCell: LC_PLL_PLL_BUFFER_u_pll_LOCK)
set_location GND -1 -1 -1 # GND
set_io clk_12mhz_ibuf 7 0 0 # ICE_IO
set_io clk_in 6 0 1 # ICE_GB
set_io clk_pll 3 15 0 # ICE_GB
set_location led_driver 0 15 1 # SB_RGBA_DRV
set_location u_pll 6 0 1 # SB_PLL40_CORE
set_io u_pll_RNISDD6_0 6 15 1 # ICE_GB
set_io vox_out_clk_n_obuf 9 0 0 # ICE_IO
set_io vox_out_clk_p_obuf 6 15 1 # ICE_IO
set_io vox_out_rxd_n_obuf 3 0 1 # ICE_IO
set_io vox_out_rxd_p_obuf 6 0 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 2 6 3 # SB_LUT4 (LogicCell: LC_35)
