# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Dec 26 2025 18:03:53

# Family & Device:    iCE40UL1K

# Package:            CM36A

# ##############################################################################

# LED
set_io led_io       A2

# CLK
set_io clk_12mhz    F2