# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# Family & Device:    iCE40UL1K

# Package:            CM36A

# ##############################################################################


#---------------------------------------------------------------------------------------------
#  Core
#---------------------------------------------------------------------------------------------


# LED
set_io led_io           A2

# CLK
set_io clk_12mhz        D2

# VoxLink
set_io vox_out_clk_p    C6
set_io vox_out_clk_n    D6

set_io vox_out_rxd_p    F3
set_io vox_out_rxd_n    F2
