set_location count_RNO[0] 2 8 0 # SB_LUT4 (LogicCell: count[0]_LC_0)
set_location count[0] 2 8 0 # SB_DFF (LogicCell: count[0]_LC_0)
set_location count_cry_c[0] 2 8 0 # SB_CARRY (LogicCell: count[0]_LC_0)
set_location count_RNO[1] 2 8 1 # SB_LUT4 (LogicCell: count[1]_LC_1)
set_location count[1] 2 8 1 # SB_DFF (LogicCell: count[1]_LC_1)
set_location count_cry_c[1] 2 8 1 # SB_CARRY (LogicCell: count[1]_LC_1)
set_location count_RNO[10] 2 9 2 # SB_LUT4 (LogicCell: count[10]_LC_2)
set_location count[10] 2 9 2 # SB_DFF (LogicCell: count[10]_LC_2)
set_location count_cry_c[10] 2 9 2 # SB_CARRY (LogicCell: count[10]_LC_2)
set_location count_RNO[11] 2 9 3 # SB_LUT4 (LogicCell: count[11]_LC_3)
set_location count[11] 2 9 3 # SB_DFF (LogicCell: count[11]_LC_3)
set_location count_cry_c[11] 2 9 3 # SB_CARRY (LogicCell: count[11]_LC_3)
set_location count_RNO[12] 2 9 4 # SB_LUT4 (LogicCell: count[12]_LC_4)
set_location count[12] 2 9 4 # SB_DFF (LogicCell: count[12]_LC_4)
set_location count_cry_c[12] 2 9 4 # SB_CARRY (LogicCell: count[12]_LC_4)
set_location count_RNO[13] 2 9 5 # SB_LUT4 (LogicCell: count[13]_LC_5)
set_location count[13] 2 9 5 # SB_DFF (LogicCell: count[13]_LC_5)
set_location count_cry_c[13] 2 9 5 # SB_CARRY (LogicCell: count[13]_LC_5)
set_location count_RNO[14] 2 9 6 # SB_LUT4 (LogicCell: count[14]_LC_6)
set_location count[14] 2 9 6 # SB_DFF (LogicCell: count[14]_LC_6)
set_location count_cry_c[14] 2 9 6 # SB_CARRY (LogicCell: count[14]_LC_6)
set_location count_RNO[15] 2 9 7 # SB_LUT4 (LogicCell: count[15]_LC_7)
set_location count[15] 2 9 7 # SB_DFF (LogicCell: count[15]_LC_7)
set_location count_cry_c[15] 2 9 7 # SB_CARRY (LogicCell: count[15]_LC_7)
set_location count_RNO[16] 2 10 0 # SB_LUT4 (LogicCell: count[16]_LC_8)
set_location count[16] 2 10 0 # SB_DFF (LogicCell: count[16]_LC_8)
set_location count_cry_c[16] 2 10 0 # SB_CARRY (LogicCell: count[16]_LC_8)
set_location count_RNO[17] 2 10 1 # SB_LUT4 (LogicCell: count[17]_LC_9)
set_location count[17] 2 10 1 # SB_DFF (LogicCell: count[17]_LC_9)
set_location count_cry_c[17] 2 10 1 # SB_CARRY (LogicCell: count[17]_LC_9)
set_location count_RNO[18] 2 10 2 # SB_LUT4 (LogicCell: count[18]_LC_10)
set_location count[18] 2 10 2 # SB_DFF (LogicCell: count[18]_LC_10)
set_location count_cry_c[18] 2 10 2 # SB_CARRY (LogicCell: count[18]_LC_10)
set_location count_RNO[19] 2 10 3 # SB_LUT4 (LogicCell: count[19]_LC_11)
set_location count[19] 2 10 3 # SB_DFF (LogicCell: count[19]_LC_11)
set_location count_cry_c[19] 2 10 3 # SB_CARRY (LogicCell: count[19]_LC_11)
set_location count_RNO[2] 2 8 2 # SB_LUT4 (LogicCell: count[2]_LC_12)
set_location count[2] 2 8 2 # SB_DFF (LogicCell: count[2]_LC_12)
set_location count_cry_c[2] 2 8 2 # SB_CARRY (LogicCell: count[2]_LC_12)
set_location count_RNO[20] 2 10 4 # SB_LUT4 (LogicCell: count[20]_LC_13)
set_location count[20] 2 10 4 # SB_DFF (LogicCell: count[20]_LC_13)
set_location count_cry_c[20] 2 10 4 # SB_CARRY (LogicCell: count[20]_LC_13)
set_location count_RNO[21] 2 10 5 # SB_LUT4 (LogicCell: count[21]_LC_14)
set_location count[21] 2 10 5 # SB_DFF (LogicCell: count[21]_LC_14)
set_location count_cry_c[21] 2 10 5 # SB_CARRY (LogicCell: count[21]_LC_14)
set_location count_RNO[22] 2 10 6 # SB_LUT4 (LogicCell: count[22]_LC_15)
set_location count[22] 2 10 6 # SB_DFF (LogicCell: count[22]_LC_15)
set_location count_cry_c[22] 2 10 6 # SB_CARRY (LogicCell: count[22]_LC_15)
set_location count_RNO[23] 2 10 7 # SB_LUT4 (LogicCell: count[23]_LC_16)
set_location count[23] 2 10 7 # SB_DFF (LogicCell: count[23]_LC_16)
set_location count_RNO[3] 2 8 3 # SB_LUT4 (LogicCell: count[3]_LC_17)
set_location count[3] 2 8 3 # SB_DFF (LogicCell: count[3]_LC_17)
set_location count_cry_c[3] 2 8 3 # SB_CARRY (LogicCell: count[3]_LC_17)
set_location count_RNO[4] 2 8 4 # SB_LUT4 (LogicCell: count[4]_LC_18)
set_location count[4] 2 8 4 # SB_DFF (LogicCell: count[4]_LC_18)
set_location count_cry_c[4] 2 8 4 # SB_CARRY (LogicCell: count[4]_LC_18)
set_location count_RNO[5] 2 8 5 # SB_LUT4 (LogicCell: count[5]_LC_19)
set_location count[5] 2 8 5 # SB_DFF (LogicCell: count[5]_LC_19)
set_location count_cry_c[5] 2 8 5 # SB_CARRY (LogicCell: count[5]_LC_19)
set_location count_RNO[6] 2 8 6 # SB_LUT4 (LogicCell: count[6]_LC_20)
set_location count[6] 2 8 6 # SB_DFF (LogicCell: count[6]_LC_20)
set_location count_cry_c[6] 2 8 6 # SB_CARRY (LogicCell: count[6]_LC_20)
set_location count_RNO[7] 2 8 7 # SB_LUT4 (LogicCell: count[7]_LC_21)
set_location count[7] 2 8 7 # SB_DFF (LogicCell: count[7]_LC_21)
set_location count_cry_c[7] 2 8 7 # SB_CARRY (LogicCell: count[7]_LC_21)
set_location count_RNO[8] 2 9 0 # SB_LUT4 (LogicCell: count[8]_LC_22)
set_location count[8] 2 9 0 # SB_DFF (LogicCell: count[8]_LC_22)
set_location count_cry_c[8] 2 9 0 # SB_CARRY (LogicCell: count[8]_LC_22)
set_location count_RNO[9] 2 9 1 # SB_LUT4 (LogicCell: count[9]_LC_23)
set_location count[9] 2 9 1 # SB_DFF (LogicCell: count[9]_LC_23)
set_location count_cry_c[9] 2 9 1 # SB_CARRY (LogicCell: count[9]_LC_23)
set_location GND -1 -1 -1 # GND
set_io bno_rst_n_obuf 7 15 0 # ICE_IO
set_io clk_buf 6 0 1 # ICE_GB
set_io flash_cs_n_obuf 12 0 1 # ICE_IO
set_io flash_mosi_obuf 11 0 0 # ICE_IO
set_io flash_sck_obuf 12 0 0 # ICE_IO
set_io i_clk 4 15 0 # ICE_IO
set_io io_scl 6 15 1 # ICE_IO
set_io io_sda 9 0 0 # ICE_IO
set_location led_driver_inst 0 15 1 # SB_RGBA_DRV
set_io vox_tx_n_obuf 4 0 1 # ICE_IO
set_io vox_tx_p_obuf 4 0 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 6 10 0 # SB_LUT4 (LogicCell: LC_24)
