# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Dec 26 2025 18:03:53

# Family & Device:    iCE40UL1K

# Package:            CM36A

# ##############################################################################


#---------------------------------------------------------------------------------------------       
#  Core
#---------------------------------------------------------------------------------------------


# LED
set_io led_io           A2

# CLK
set_io clk_12mhz        D2

# Sensor
set_io i2c_scl          C1
set_io i2c_sda          D1

set_io bno_rstn         B5
set_io bno_interrupt    E1

# VoxLink
set_io vox_in_clk_p     B6
#set_io vox_in_clk_n     B2

set_io vox_out_clk_p    C6
#set_io vox_out_clk_n    D6

set_io vox_in_rxd_p     A4
#set_io vox_in_rxd_n     A3

set_io vox_out_rxd_p    F3
#set_io vox_out_rxd_n    F2
