ble_pack u_pll_RNISDD6_LC_1_1_0 { u_pll_RNISDD6 }
clb_pack LT_1_1 { u_pll_RNISDD6_LC_1_1_0 }
set_location LT_1_1 1 1
ble_pack led_io_r_RNO_2_LC_4_7_0 { led_io_r_RNO_2 }
ble_pack led_io_r_LC_4_7_1 { led_io_r_RNO, led_io_r }
ble_pack led_io_r_RNO_0_LC_4_7_2 { led_io_r_RNO_0 }
ble_pack led_io_r_RNO_3_LC_4_7_3 { led_io_r_RNO_3 }
ble_pack led_io_r_RNO_1_LC_4_7_4 { led_io_r_RNO_1 }
clb_pack LT_4_7 { led_io_r_RNO_2_LC_4_7_0, led_io_r_LC_4_7_1, led_io_r_RNO_0_LC_4_7_2, led_io_r_RNO_3_LC_4_7_3, led_io_r_RNO_1_LC_4_7_4 }
set_location LT_4_7 4 7
ble_pack led_io_r_RNO_4_LC_4_8_0 { led_io_r_RNO_4 }
ble_pack led_io_r_RNO_5_LC_4_8_1 { led_io_r_RNO_5 }
ble_pack led_io_r_RNO_7_LC_4_8_3 { led_io_r_RNO_7 }
clb_pack LT_4_8 { led_io_r_RNO_4_LC_4_8_0, led_io_r_RNO_5_LC_4_8_1, led_io_r_RNO_7_LC_4_8_3 }
set_location LT_4_8 4 8
ble_pack led_io_r_RNO_6_LC_4_9_1 { led_io_r_RNO_6 }
clb_pack LT_4_9 { led_io_r_RNO_6_LC_4_9_1 }
set_location LT_4_9 4 9
ble_pack blink_counter_0_LC_5_7_0 { blink_counter_RNO[0], blink_counter[0], blink_counter_cry_c[0] }
ble_pack blink_counter_1_LC_5_7_1 { blink_counter_RNO[1], blink_counter[1], blink_counter_cry_c[1] }
ble_pack blink_counter_2_LC_5_7_2 { blink_counter_RNO[2], blink_counter[2], blink_counter_cry_c[2] }
ble_pack blink_counter_3_LC_5_7_3 { blink_counter_RNO[3], blink_counter[3], blink_counter_cry_c[3] }
ble_pack blink_counter_4_LC_5_7_4 { blink_counter_RNO[4], blink_counter[4], blink_counter_cry_c[4] }
ble_pack blink_counter_5_LC_5_7_5 { blink_counter_RNO[5], blink_counter[5], blink_counter_cry_c[5] }
ble_pack blink_counter_6_LC_5_7_6 { blink_counter_RNO[6], blink_counter[6], blink_counter_cry_c[6] }
ble_pack blink_counter_7_LC_5_7_7 { blink_counter_RNO[7], blink_counter[7], blink_counter_cry_c[7] }
clb_pack LT_5_7 { blink_counter_0_LC_5_7_0, blink_counter_1_LC_5_7_1, blink_counter_2_LC_5_7_2, blink_counter_3_LC_5_7_3, blink_counter_4_LC_5_7_4, blink_counter_5_LC_5_7_5, blink_counter_6_LC_5_7_6, blink_counter_7_LC_5_7_7 }
set_location LT_5_7 5 7
ble_pack blink_counter_8_LC_5_8_0 { blink_counter_RNO[8], blink_counter[8], blink_counter_cry_c[8] }
ble_pack blink_counter_9_LC_5_8_1 { blink_counter_RNO[9], blink_counter[9], blink_counter_cry_c[9] }
ble_pack blink_counter_10_LC_5_8_2 { blink_counter_RNO[10], blink_counter[10], blink_counter_cry_c[10] }
ble_pack blink_counter_11_LC_5_8_3 { blink_counter_RNO[11], blink_counter[11], blink_counter_cry_c[11] }
ble_pack blink_counter_12_LC_5_8_4 { blink_counter_RNO[12], blink_counter[12], blink_counter_cry_c[12] }
ble_pack blink_counter_13_LC_5_8_5 { blink_counter_RNO[13], blink_counter[13], blink_counter_cry_c[13] }
ble_pack blink_counter_14_LC_5_8_6 { blink_counter_RNO[14], blink_counter[14], blink_counter_cry_c[14] }
ble_pack blink_counter_15_LC_5_8_7 { blink_counter_RNO[15], blink_counter[15], blink_counter_cry_c[15] }
clb_pack LT_5_8 { blink_counter_8_LC_5_8_0, blink_counter_9_LC_5_8_1, blink_counter_10_LC_5_8_2, blink_counter_11_LC_5_8_3, blink_counter_12_LC_5_8_4, blink_counter_13_LC_5_8_5, blink_counter_14_LC_5_8_6, blink_counter_15_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack blink_counter_16_LC_5_9_0 { blink_counter_RNO[16], blink_counter[16], blink_counter_cry_c[16] }
ble_pack blink_counter_17_LC_5_9_1 { blink_counter_RNO[17], blink_counter[17], blink_counter_cry_c[17] }
ble_pack blink_counter_18_LC_5_9_2 { blink_counter_RNO[18], blink_counter[18], blink_counter_cry_c[18] }
ble_pack blink_counter_19_LC_5_9_3 { blink_counter_RNO[19], blink_counter[19], blink_counter_cry_c[19] }
ble_pack blink_counter_20_LC_5_9_4 { blink_counter_RNO[20], blink_counter[20], blink_counter_cry_c[20] }
ble_pack blink_counter_21_LC_5_9_5 { blink_counter_RNO[21], blink_counter[21], blink_counter_cry_c[21] }
ble_pack blink_counter_22_LC_5_9_6 { blink_counter_RNO[22], blink_counter[22], blink_counter_cry_c[22] }
ble_pack blink_counter_23_LC_5_9_7 { blink_counter_RNO[23], blink_counter[23], blink_counter_cry_c[23] }
clb_pack LT_5_9 { blink_counter_16_LC_5_9_0, blink_counter_17_LC_5_9_1, blink_counter_18_LC_5_9_2, blink_counter_19_LC_5_9_3, blink_counter_20_LC_5_9_4, blink_counter_21_LC_5_9_5, blink_counter_22_LC_5_9_6, blink_counter_23_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack blink_counter_24_LC_5_10_0 { blink_counter_RNO[24], blink_counter[24], blink_counter_cry_c[24] }
ble_pack blink_counter_25_LC_5_10_1 { blink_counter_RNO[25], blink_counter[25], blink_counter_cry_c[25] }
ble_pack blink_counter_26_LC_5_10_2 { blink_counter_RNO[26], blink_counter[26] }
clb_pack LT_5_10 { blink_counter_24_LC_5_10_0, blink_counter_25_LC_5_10_1, blink_counter_26_LC_5_10_2 }
set_location LT_5_10 5 10
ble_pack GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0_LC_6_1_4 { GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0 }
clb_pack LT_6_1 { GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0_LC_6_1_4 }
set_location LT_6_1 6 1
ble_pack CONSTANT_ONE_LUT4_LC_6_12_6 { CONSTANT_ONE_LUT4 }
clb_pack LT_6_12 { CONSTANT_ONE_LUT4_LC_6_12_6 }
set_location LT_6_12 6 12
set_location u_pll_RNISDD6_0 6 15
set_location clk_in 6 0
set_location clk_pll 3 15
set_io clk_12mhz F2
