set_location IN_MUX_bfv_6_11_0_ 6 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_12_0_ 6 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_8_0_ 6 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_8_0_ 2 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 2 3 4 #SB_LUT4
set_location PLL_BUFFER_u_pll_LOCK_THRU_LUT4_0 1 1 0 #SB_LUT4
set_location GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0 6 1 0 #SB_LUT4
set_location vox_rxd_cdc_stage_2_THRU_LUT4_0 7 9 7 #SB_LUT4
set_location vox_rxd_cdc_stage_1_THRU_LUT4_0 8 10 6 #SB_LUT4
set_location vox_clk_cdc_stage_2_THRU_LUT4_0 6 10 4 #SB_LUT4
set_location vox_clk_cdc_stage_1_THRU_LUT4_0 7 11 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_en_THRU_LUT4_0 5 10 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_THRU_LUT4_0 5 10 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_9_THRU_LUT4_0 4 9 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_8_THRU_LUT4_0 4 9 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_7_THRU_LUT4_0 4 9 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_6_THRU_LUT4_0 4 9 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_5_THRU_LUT4_0 4 9 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_4_THRU_LUT4_0 4 9 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_3_THRU_LUT4_0 4 9 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_2_THRU_LUT4_0 4 9 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_15_THRU_LUT4_0 4 7 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_14_THRU_LUT4_0 4 7 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_13_THRU_LUT4_0 4 7 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_12_THRU_LUT4_0 4 7 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_11_THRU_LUT4_0 4 7 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_10_THRU_LUT4_0 4 7 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r_1_THRU_LUT4_0 4 7 6 #SB_LUT4
set_location blink_counter_cry_c[0] 2 7 0 #SB_CARRY
set_location blink_counter_RNO[9] 2 8 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_0_s1_c 6 8 0 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[11] 7 8 3 #SB_DFFER
set_location led_io_r_RNO_1 1 7 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[0] 5 11 2 #SB_DFFS
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r[1] 5 8 2 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_0[3] 1 9 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[8] 4 9 4 #SB_DFFER
set_location blink_counter_cry_c[19] 2 9 3 #SB_CARRY
set_location blink_counter[4] 2 7 4 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH[3] 6 10 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_1_s0_c 6 10 0 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNIGB3R[4] 6 7 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[14] 5 6 4 #SB_DFFER
set_location blink_counter_RNO[3] 2 7 3 #SB_LUT4
set_location blink_counter_RNO[14] 2 8 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d 5 10 6 #SB_DFFSR
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[11] 4 7 1 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNI4VOJ5[4] 5 9 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_1[2] 6 8 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[10] 4 6 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO[1] 0 9 6 #SB_LUT4
set_location blink_counter[15] 2 8 7 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[14] 7 8 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[1] 6 8 1 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[2] 4 9 1 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[0] 5 11 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[3] 4 8 2 #SB_DFFER
set_location blink_counter_RNO[25] 2 10 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[3] 6 12 0 #SB_DFFS
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH_1[2] 7 6 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNI9NVD[1] 6 6 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[4] 5 9 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[1] 1 9 5 #SB_LUT4
set_location blink_counter[1] 2 7 1 #SB_DFFE
set_location blink_counter_cry_c[9] 2 8 1 #SB_CARRY
set_location blink_counter_RNO[0] 2 7 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[1] 7 10 1 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[1] 6 11 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[9] 4 6 6 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r[0] 5 7 1 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[4] 6 6 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r[2] 1 8 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_2_c 6 11 1 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2_0[4] 6 9 2 #SB_LUT4
set_location blink_counter[23] 2 9 7 #SB_DFFE
set_location blink_counter[10] 2 8 2 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_3_s0_c 6 10 2 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[2] 6 9 4 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[7] 4 9 5 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[13] 4 7 4 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[9] 6 6 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNI7LVD[0] 6 7 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[4] 6 6 7 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter[1] 6 11 1 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_3_c 6 11 2 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[3] 5 7 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIR3NL1[4] 6 9 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[12] 4 6 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[1] 4 8 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[4] 4 8 3 #SB_DFFER
set_location blink_counter_cry_c[21] 2 9 5 #SB_CARRY
set_location blink_counter_cry_c[12] 2 8 4 #SB_CARRY
set_location blink_counter_RNO[22] 2 9 6 #SB_LUT4
set_location blink_counter[24] 2 10 0 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_1 1 8 6 #SB_LUT4
set_location blink_counter_cry_c[1] 2 7 1 #SB_CARRY
set_location blink_counter_RNO[8] 2 8 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_3_s1_c 6 8 3 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[1] 6 6 2 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[2] 6 11 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[1] 4 8 0 #SB_DFFER
set_location led_io_r_RNO_0 1 7 2 #SB_LUT4
set_location blink_counter_cry_c[24] 2 10 0 #SB_CARRY
set_location blink_counter_cry_c[17] 2 9 1 #SB_CARRY
set_location blink_counter[2] 2 7 2 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[1] 6 11 6 #SB_DFFS
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[2] 5 8 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r[2] 5 8 3 #SB_DFFR
set_location blink_counter_cry_c[4] 2 7 4 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r 5 9 6 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.vox_clk_internal_r 5 9 7 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNIVIJU[6] 6 7 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNIKF3R[5] 6 6 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[15] 7 8 7 #SB_DFFER
set_location blink_counter[18] 2 9 2 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH_0[3] 6 10 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[3] 1 9 1 #SB_LUT4
set_location led_io_r_RNO_5 1 8 1 #SB_LUT4
set_location blink_counter_cry_c[18] 2 9 2 #SB_CARRY
set_location blink_counter[7] 2 7 7 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[4] 6 12 1 #SB_DFFS
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[1] 6 6 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[15] 5 6 5 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r[1] 0 9 6 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNIF0MJ[1] 1 9 2 #SB_LUT4
set_location blink_counter_RNO[2] 2 7 2 #SB_LUT4
set_location blink_counter_RNO[15] 2 8 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_6_c 6 11 5 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[3] 5 10 2 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNIKQFH[3] 6 7 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[3] 6 9 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_1[4] 6 8 4 #SB_LUT4
set_location blink_counter[13] 2 8 5 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[3] 6 11 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH_2[3] 6 10 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[1] 5 8 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[12] 7 7 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[4] 4 9 0 #SB_DFFER
set_location blink_counter[8] 2 8 0 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[3] 5 10 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNI46F22[1] 6 7 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[10] 4 6 4 #SB_DFFER
set_location blink_counter_RNO[7] 2 7 7 #SB_LUT4
set_location blink_counter_RNO[10] 2 8 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter[2] 6 11 2 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_8_c 6 11 7 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_0[2] 6 10 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[6] 4 8 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[11] 4 6 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO[2] 1 8 5 #SB_LUT4
set_location vox_rxd_cdc_stage_1 8 10 6 #SB_DFF
set_location vox_clk_cdc_stage_2 6 10 4 #SB_DFF
set_location blink_counter[21] 2 9 5 #SB_DFFE
set_location blink_counter[16] 2 9 0 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_5_c 6 11 4 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[15] 7 8 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2[4] 6 9 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[0] 6 9 3 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[15] 4 7 5 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[1] 4 7 6 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[6] 7 8 5 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_full_r_RNI7JVT 5 9 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[1] 6 11 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[3] 4 8 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[14] 5 6 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[2] 4 8 1 #SB_DFFER
set_location blink_counter_cry_c[10] 2 8 2 #SB_CARRY
set_location blink_counter_RNO[24] 2 10 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[1] 5 8 2 #SB_LUT4
set_location blink_counter_cry_c[3] 2 7 3 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH_1[3] 4 10 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_2_s1_c 6 8 2 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[3] 7 8 4 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[10] 7 8 2 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_full_r_RNO_0 5 8 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIM4TJ2 5 8 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[8] 4 6 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[0] 5 7 1 #SB_LUT4
set_location led_io_r_RNO_2 1 7 0 #SB_LUT4
set_location blink_counter_cry_c[15] 2 8 7 #SB_CARRY
set_location blink_counter[0] 2 7 0 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNICDO01 5 9 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[2] 7 8 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r[0] 5 8 5 #SB_DFFR
set_location blink_counter_cry_c[6] 2 7 6 #SB_CARRY
set_location blink_counter_RNO[18] 2 9 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[0] 5 10 1 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[8] 7 7 1 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[0] 6 9 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[0] 5 11 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[8] 4 6 3 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[9] 4 9 3 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r[3] 1 9 1 #SB_DFFR
set_location led_io_r_RNO_7 1 8 3 #SB_LUT4
set_location blink_counter[5] 2 7 5 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_en 5 10 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_1_c 6 11 0 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH[2] 7 6 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[7] 7 7 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[13] 4 6 2 #SB_DFFER
set_location blink_counter_RNO[4] 2 7 4 #SB_LUT4
set_location blink_counter_RNO[17] 2 9 1 #SB_LUT4
set_location vox_clk_cdc_stage_1 7 11 5 #SB_DFF
set_location led_io_r 1 7 1 #SB_DFFS
set_location blink_counter[22] 2 9 6 #SB_DFFE
set_location blink_counter[11] 2 8 3 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[10] 7 8 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[6] 4 9 7 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[10] 4 7 7 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[1] 7 10 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[8] 7 7 1 #SB_LUT4
set_location blink_counter_RNO[12] 2 8 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[4] 6 12 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter[0] 5 11 5 #SB_DFFS
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[0] 5 8 6 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_1[3] 6 8 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[13] 4 6 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[0] 4 8 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[7] 4 8 6 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO[0] 1 8 7 #SB_LUT4
set_location blink_counter_cry_c[22] 2 9 6 #SB_CARRY
set_location blink_counter_RNO[21] 2 9 5 #SB_LUT4
set_location blink_counter[14] 2 8 6 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_0 1 9 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[3] 4 9 6 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[0] 6 6 6 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[3] 6 12 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_4_c 6 11 3 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0[3] 5 7 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[0] 4 8 7 #SB_DFFER
set_location blink_counter_cry_c[25] 2 10 1 #SB_CARRY
set_location blink_counter_cry_c[16] 2 9 0 #SB_CARRY
set_location blink_counter_RNO[26] 2 10 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[2] 6 11 7 #SB_DFFS
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0[3] 4 10 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[3] 5 8 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r[3] 5 8 4 #SB_DFFR
set_location blink_counter_cry_c[5] 2 7 5 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_1_s1_c 6 8 1 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[12] 7 7 4 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_full_r_RNO 5 9 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.magic_full_r 5 9 2 #SB_DFFR
set_location blink_counter[19] 2 9 3 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[5] 6 11 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_10_c 6 12 1 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH_0[2] 7 9 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNIIOFH[2] 7 8 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[2] 1 9 3 #SB_LUT4
set_location led_io_r_RNO_4 1 8 0 #SB_LUT4
set_location led_io_r_RNO 1 7 1 #SB_LUT4
set_location blink_counter[6] 2 7 6 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO 5 9 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[5] 6 12 2 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[0] 6 6 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNI3NJU[7] 6 7 4 #SB_LUT4
set_location blink_counter_cry_c[8] 2 8 0 #SB_CARRY
set_location blink_counter_RNO[1] 2 7 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[2] 5 7 6 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[2] 6 9 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_0[4] 6 10 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[2] 6 11 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNITMTH_2[2] 7 7 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[2] 5 7 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[13] 6 6 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r[1] 1 9 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[2] 5 7 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[5] 6 6 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[11] 4 6 7 #SB_DFFER
set_location blink_counter_RNO[6] 2 7 6 #SB_LUT4
set_location blink_counter_RNO[11] 2 8 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter[5] 6 11 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_0[3] 6 10 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[5] 4 8 4 #SB_LUT4
set_location vox_rxd_cdc_stage_2 7 9 7 #SB_DFF
set_location u_pll_RNISDD6_0 6 14 0 #SB_LUT4
set_location blink_counter[20] 2 9 4 #SB_DFFE
set_location blink_counter[17] 2 9 1 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[3] 6 9 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[12] 4 7 0 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[0] 6 7 2 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[5] 6 6 4 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO_0[3] 4 10 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[2] 5 7 3 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[2] 4 8 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[15] 5 6 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[5] 4 8 4 #SB_DFFER
set_location GND -1 -1 -1 #GND
set_location blink_counter_cry_c[20] 2 9 4 #SB_CARRY
set_location blink_counter_cry_c[13] 2 8 5 #SB_CARRY
set_location blink_counter_RNO[23] 2 9 7 #SB_LUT4
set_location blink_counter[25] 2 10 1 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.transmit_packet_r 5 9 5 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[2] 7 8 1 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIR9FB2[4] 6 9 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNI6TJG[15] 5 6 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r_RNI25C71[3] 1 9 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO_0[2] 1 8 4 #SB_LUT4
set_location blink_counter_cry_c[14] 2 8 6 #SB_CARRY
set_location blink_counter[3] 2 7 3 #SB_DFFE
set_location blink_counter_cry_c[7] 2 7 7 #SB_CARRY
set_location blink_counter_RNO[19] 2 9 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_2_s0_c 6 10 1 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[14] 7 8 6 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNO_0 1 9 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.bit_count_r[2] 1 9 3 #SB_DFFR
set_location led_io_r_RNO_6 1 8 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[6] 7 8 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.frame_counter_r[0] 1 8 7 #SB_DFFR
set_location blink_counter[12] 2 8 4 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIJ0OU1 5 7 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[0] 5 8 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[11] 7 8 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[4] 5 9 0 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[5] 4 9 2 #SB_DFFER
set_location blink_counter[9] 2 8 1 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[0] 5 10 1 #SB_LUT4
set_location blink_counter_RNO[13] 2 8 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter[3] 6 11 3 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[5] 6 12 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_clk_internal_r_RNO 5 9 7 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[1] 5 8 7 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[7] 4 8 6 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[6] 4 8 5 #SB_DFFER
set_location blink_counter_cry_c[23] 2 9 7 #SB_CARRY
set_location blink_counter_RNO[20] 2 9 4 #SB_LUT4
set_location blink_counter[26] 2 10 2 #SB_DFFE
set_location VoxLink_Multinode_Protocol_Inst.magic_register_r[14] 4 7 2 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[7] 7 7 3 #SB_DFFER
set_location blink_counter_cry_c[11] 2 8 3 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[0] 5 8 5 #SB_LUT4
set_location blink_counter_cry_c[2] 2 7 2 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_7_c 6 11 6 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[13] 6 6 5 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNO 5 9 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[4] 6 11 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[9] 4 6 6 #SB_LUT4
set_location led_io_r_RNO_3 1 7 3 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNI5GI04[0] 6 7 2 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem_RNO[3] 7 8 4 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.mem[9] 6 6 3 #SB_DFFER
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[1] 6 8 1 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_9_c 6 12 0 #SB_CARRY
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[3] 5 7 5 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIR06U[0] 6 9 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r[12] 4 6 0 #SB_DFFER
set_location blink_counter_RNO[5] 2 7 5 #SB_LUT4
set_location blink_counter_RNO[16] 2 9 0 #SB_LUT4
set_location VoxLink_Multinode_Protocol_Inst.vox_sck_counter[4] 6 11 4 #SB_DFFR
set_location VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[4] 4 8 3 #SB_LUT4
set_io clk_12mhz D2
set_io vox_out_rxd_p F3
set_io vox_out_rxd_n F2
set_io vox_in_rxd_p A4
set_io vox_in_clk_p B6
