ble_pack PLL_BUFFER_u_pll_LOCK_THRU_LUT4_0_LC_1_1_0 { PLL_BUFFER_u_pll_LOCK_THRU_LUT4_0 }
ble_pack CONSTANT_ONE_LUT4_LC_1_1_5 { CONSTANT_ONE_LUT4 }
clb_pack LT_1_1 { PLL_BUFFER_u_pll_LOCK_THRU_LUT4_0_LC_1_1_0, CONSTANT_ONE_LUT4_LC_1_1_5 }
set_location LT_1_1 1 1
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_RNIF0MJ_1_LC_2_10_6 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNIF0MJ[1] }
clb_pack LT_2_10 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNIF0MJ_1_LC_2_10_6 }
set_location LT_2_10 2 10
ble_pack led_io_r_LC_4_4_7 { led_io_r_RNO, led_io_r }
clb_pack LT_4_4 { led_io_r_LC_4_4_7 }
set_location LT_4_4 4 4
ble_pack led_io_r_RNO_4_LC_4_5_6 { led_io_r_RNO_4 }
ble_pack led_io_r_RNO_2_LC_4_5_7 { led_io_r_RNO_2 }
clb_pack LT_4_5 { led_io_r_RNO_4_LC_4_5_6, led_io_r_RNO_2_LC_4_5_7 }
set_location LT_4_5 4 5
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_13_LC_4_6_0 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[13], VoxLink_Multinode_Protocol_Inst.magic_register_r[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_2_LC_4_6_6 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[2], VoxLink_Multinode_Protocol_Inst.magic_register_r[2] }
clb_pack LT_4_6 { VoxLink_Multinode_Protocol_Inst.magic_register_r_13_LC_4_6_0, VoxLink_Multinode_Protocol_Inst.magic_register_r_2_LC_4_6_6 }
set_location LT_4_6 4 6
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_5_LC_4_7_0 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_5 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_15_LC_4_7_1 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[15], VoxLink_Multinode_Protocol_Inst.magic_register_r[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_14_LC_4_7_2 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[14], VoxLink_Multinode_Protocol_Inst.magic_register_r[14] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_11_LC_4_7_3 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[11], VoxLink_Multinode_Protocol_Inst.magic_register_r[11] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_12_LC_4_7_4 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[12], VoxLink_Multinode_Protocol_Inst.magic_register_r[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_10_LC_4_7_7 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[10], VoxLink_Multinode_Protocol_Inst.magic_register_r[10] }
clb_pack LT_4_7 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_5_LC_4_7_0, VoxLink_Multinode_Protocol_Inst.magic_register_r_15_LC_4_7_1, VoxLink_Multinode_Protocol_Inst.magic_register_r_14_LC_4_7_2, VoxLink_Multinode_Protocol_Inst.magic_register_r_11_LC_4_7_3, VoxLink_Multinode_Protocol_Inst.magic_register_r_12_LC_4_7_4, VoxLink_Multinode_Protocol_Inst.magic_register_r_10_LC_4_7_7 }
set_location LT_4_7 4 7
ble_pack VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_1_c_LC_4_8_0 { VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_1_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_8_LC_4_8_1 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[8], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_2_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_9_LC_4_8_2 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[9], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_3_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_10_LC_4_8_3 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[10], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_4_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_11_LC_4_8_4 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[11], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_5_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_12_LC_4_8_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[12], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_6_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_13_LC_4_8_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[13], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_7_c }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_14_LC_4_8_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[14], VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_8_c }
clb_pack LT_4_8 { VoxLink_Multinode_Protocol_Inst.un2_node_addr_r_1_cry_1_c_LC_4_8_0, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_8_LC_4_8_1, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_9_LC_4_8_2, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_10_LC_4_8_3, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_11_LC_4_8_4, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_12_LC_4_8_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_13_LC_4_8_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_14_LC_4_8_7 }
set_location LT_4_8 4 8
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_15_LC_4_9_0 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_15_LC_4_9_1 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_6_LC_4_9_5 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_6 }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_15_LC_4_9_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[15] }
clb_pack LT_4_9 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_15_LC_4_9_0, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_15_LC_4_9_1, VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_6_LC_4_9_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_15_LC_4_9_6 }
set_location LT_4_9 4 9
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_9_LC_4_10_0 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[9], VoxLink_Multinode_Protocol_Inst.magic_register_r[9] }
clb_pack LT_4_10 { VoxLink_Multinode_Protocol_Inst.magic_register_r_9_LC_4_10_0 }
set_location LT_4_10 4 10
ble_pack led_io_r_RNO_3_LC_5_3_1 { led_io_r_RNO_3 }
ble_pack led_io_r_RNO_1_LC_5_3_2 { led_io_r_RNO_1 }
clb_pack LT_5_3 { led_io_r_RNO_3_LC_5_3_1, led_io_r_RNO_1_LC_5_3_2 }
set_location LT_5_3 5 3
ble_pack led_io_r_RNO_7_LC_5_4_1 { led_io_r_RNO_7 }
ble_pack led_io_r_RNO_0_LC_5_4_6 { led_io_r_RNO_0 }
clb_pack LT_5_4 { led_io_r_RNO_7_LC_5_4_1, led_io_r_RNO_0_LC_5_4_6 }
set_location LT_5_4 5 4
ble_pack led_io_r_RNO_5_LC_5_5_1 { led_io_r_RNO_5 }
ble_pack led_io_r_RNO_6_LC_5_5_2 { led_io_r_RNO_6 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_full_r_RNO_0_LC_5_5_4 { VoxLink_Multinode_Protocol_Inst.magic_full_r_RNO_0 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_full_r_LC_5_5_5 { VoxLink_Multinode_Protocol_Inst.magic_full_r_RNO, VoxLink_Multinode_Protocol_Inst.magic_full_r }
clb_pack LT_5_5 { led_io_r_RNO_5_LC_5_5_1, led_io_r_RNO_6_LC_5_5_2, VoxLink_Multinode_Protocol_Inst.magic_full_r_RNO_0_LC_5_5_4, VoxLink_Multinode_Protocol_Inst.magic_full_r_LC_5_5_5 }
set_location LT_5_5 5 5
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_12_LC_5_6_0 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[12], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_12_LC_5_6_1 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_13_LC_5_6_2 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_13_LC_5_6_3 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_13_LC_5_6_4 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[13], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_14_LC_5_6_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[14] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_14_LC_5_6_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[14] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_14_LC_5_6_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[14], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[14] }
clb_pack LT_5_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_12_LC_5_6_0, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_12_LC_5_6_1, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_13_LC_5_6_2, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_13_LC_5_6_3, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_13_LC_5_6_4, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_14_LC_5_6_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_14_LC_5_6_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_14_LC_5_6_7 }
set_location LT_5_6 5 6
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_4_LC_5_7_0 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_4 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_3_LC_5_7_1 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[3], VoxLink_Multinode_Protocol_Inst.magic_register_r[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_4_LC_5_7_2 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[4], VoxLink_Multinode_Protocol_Inst.magic_register_r[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_5_LC_5_7_3 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[5], VoxLink_Multinode_Protocol_Inst.magic_register_r[5] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNIS9DO2_LC_5_7_5 { VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNIS9DO2 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_6_LC_5_7_6 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[6], VoxLink_Multinode_Protocol_Inst.magic_register_r[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_1_LC_5_7_7 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[1], VoxLink_Multinode_Protocol_Inst.magic_register_r[1] }
clb_pack LT_5_7 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_4_LC_5_7_0, VoxLink_Multinode_Protocol_Inst.magic_register_r_3_LC_5_7_1, VoxLink_Multinode_Protocol_Inst.magic_register_r_4_LC_5_7_2, VoxLink_Multinode_Protocol_Inst.magic_register_r_5_LC_5_7_3, VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNIS9DO2_LC_5_7_5, VoxLink_Multinode_Protocol_Inst.magic_register_r_6_LC_5_7_6, VoxLink_Multinode_Protocol_Inst.magic_register_r_1_LC_5_7_7 }
set_location LT_5_7 5 7
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_3_LC_5_8_0 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_3 }
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_2_LC_5_8_1 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_2 }
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_0_LC_5_8_2 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_0 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_8_LC_5_8_3 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[8], VoxLink_Multinode_Protocol_Inst.magic_register_r[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_7_LC_5_8_4 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[7], VoxLink_Multinode_Protocol_Inst.magic_register_r[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_3_8_LC_5_8_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_3[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_8_LC_5_8_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_8_LC_5_8_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[8] }
clb_pack LT_5_8 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_3_LC_5_8_0, VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_2_LC_5_8_1, VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_0_LC_5_8_2, VoxLink_Multinode_Protocol_Inst.magic_register_r_8_LC_5_8_3, VoxLink_Multinode_Protocol_Inst.magic_register_r_7_LC_5_8_4, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_3_8_LC_5_8_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_8_LC_5_8_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_8_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_15_LC_5_9_2 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[15], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNI6TJG_15_LC_5_9_3 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNI6TJG[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_7_LC_5_9_4 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[7], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_8_LC_5_9_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[8], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_9_LC_5_9_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[9] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_9_LC_5_9_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[9] }
clb_pack LT_5_9 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_15_LC_5_9_2, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNI6TJG_15_LC_5_9_3, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_7_LC_5_9_4, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_8_LC_5_9_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_9_LC_5_9_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_9_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_1_LC_5_10_1 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[1], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNITA042_LC_5_10_2 { VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNITA042 }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_0_LC_5_10_3 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[0], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_10_LC_5_10_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[10] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_11_LC_5_10_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[11] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_11_LC_5_10_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[11], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[11] }
clb_pack LT_5_10 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_1_LC_5_10_1, VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNITA042_LC_5_10_2, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_0_LC_5_10_3, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_10_LC_5_10_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_11_LC_5_10_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_11_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_10_LC_5_11_0 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[10], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[10] }
clb_pack LT_5_11 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_10_LC_5_11_0 }
set_location LT_5_11 5 11
ble_pack blink_counter_0_LC_6_3_0 { blink_counter_RNO[0], blink_counter[0], blink_counter_cry_c[0] }
ble_pack blink_counter_1_LC_6_3_1 { blink_counter_RNO[1], blink_counter[1], blink_counter_cry_c[1] }
ble_pack blink_counter_2_LC_6_3_2 { blink_counter_RNO[2], blink_counter[2], blink_counter_cry_c[2] }
ble_pack blink_counter_3_LC_6_3_3 { blink_counter_RNO[3], blink_counter[3], blink_counter_cry_c[3] }
ble_pack blink_counter_4_LC_6_3_4 { blink_counter_RNO[4], blink_counter[4], blink_counter_cry_c[4] }
ble_pack blink_counter_5_LC_6_3_5 { blink_counter_RNO[5], blink_counter[5], blink_counter_cry_c[5] }
ble_pack blink_counter_6_LC_6_3_6 { blink_counter_RNO[6], blink_counter[6], blink_counter_cry_c[6] }
ble_pack blink_counter_7_LC_6_3_7 { blink_counter_RNO[7], blink_counter[7], blink_counter_cry_c[7] }
clb_pack LT_6_3 { blink_counter_0_LC_6_3_0, blink_counter_1_LC_6_3_1, blink_counter_2_LC_6_3_2, blink_counter_3_LC_6_3_3, blink_counter_4_LC_6_3_4, blink_counter_5_LC_6_3_5, blink_counter_6_LC_6_3_6, blink_counter_7_LC_6_3_7 }
set_location LT_6_3 6 3
ble_pack blink_counter_8_LC_6_4_0 { blink_counter_RNO[8], blink_counter[8], blink_counter_cry_c[8] }
ble_pack blink_counter_9_LC_6_4_1 { blink_counter_RNO[9], blink_counter[9], blink_counter_cry_c[9] }
ble_pack blink_counter_10_LC_6_4_2 { blink_counter_RNO[10], blink_counter[10], blink_counter_cry_c[10] }
ble_pack blink_counter_11_LC_6_4_3 { blink_counter_RNO[11], blink_counter[11], blink_counter_cry_c[11] }
ble_pack blink_counter_12_LC_6_4_4 { blink_counter_RNO[12], blink_counter[12], blink_counter_cry_c[12] }
ble_pack blink_counter_13_LC_6_4_5 { blink_counter_RNO[13], blink_counter[13], blink_counter_cry_c[13] }
ble_pack blink_counter_14_LC_6_4_6 { blink_counter_RNO[14], blink_counter[14], blink_counter_cry_c[14] }
ble_pack blink_counter_15_LC_6_4_7 { blink_counter_RNO[15], blink_counter[15], blink_counter_cry_c[15] }
clb_pack LT_6_4 { blink_counter_8_LC_6_4_0, blink_counter_9_LC_6_4_1, blink_counter_10_LC_6_4_2, blink_counter_11_LC_6_4_3, blink_counter_12_LC_6_4_4, blink_counter_13_LC_6_4_5, blink_counter_14_LC_6_4_6, blink_counter_15_LC_6_4_7 }
set_location LT_6_4 6 4
ble_pack blink_counter_16_LC_6_5_0 { blink_counter_RNO[16], blink_counter[16], blink_counter_cry_c[16] }
ble_pack blink_counter_17_LC_6_5_1 { blink_counter_RNO[17], blink_counter[17], blink_counter_cry_c[17] }
ble_pack blink_counter_18_LC_6_5_2 { blink_counter_RNO[18], blink_counter[18], blink_counter_cry_c[18] }
ble_pack blink_counter_19_LC_6_5_3 { blink_counter_RNO[19], blink_counter[19], blink_counter_cry_c[19] }
ble_pack blink_counter_20_LC_6_5_4 { blink_counter_RNO[20], blink_counter[20], blink_counter_cry_c[20] }
ble_pack blink_counter_21_LC_6_5_5 { blink_counter_RNO[21], blink_counter[21], blink_counter_cry_c[21] }
ble_pack blink_counter_22_LC_6_5_6 { blink_counter_RNO[22], blink_counter[22], blink_counter_cry_c[22] }
ble_pack blink_counter_23_LC_6_5_7 { blink_counter_RNO[23], blink_counter[23], blink_counter_cry_c[23] }
clb_pack LT_6_5 { blink_counter_16_LC_6_5_0, blink_counter_17_LC_6_5_1, blink_counter_18_LC_6_5_2, blink_counter_19_LC_6_5_3, blink_counter_20_LC_6_5_4, blink_counter_21_LC_6_5_5, blink_counter_22_LC_6_5_6, blink_counter_23_LC_6_5_7 }
set_location LT_6_5 6 5
ble_pack blink_counter_24_LC_6_6_0 { blink_counter_RNO[24], blink_counter[24], blink_counter_cry_c[24] }
ble_pack blink_counter_25_LC_6_6_1 { blink_counter_RNO[25], blink_counter[25], blink_counter_cry_c[25] }
ble_pack blink_counter_26_LC_6_6_2 { blink_counter_RNO[26], blink_counter[26] }
clb_pack LT_6_6 { blink_counter_24_LC_6_6_0, blink_counter_25_LC_6_6_1, blink_counter_26_LC_6_6_2 }
set_location LT_6_6 6 6
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_1_LC_6_7_0 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_1 }
ble_pack VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_1_LC_6_7_1 { VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_1 }
ble_pack VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_0_LC_6_7_2 { VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_0 }
ble_pack VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_LC_6_7_3 { VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO, VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNI0L6B_LC_6_7_4 { VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNI0L6B }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIP5832_LC_6_7_5 { VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIP5832 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIDOF21_LC_6_7_6 { VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIDOF21 }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_clk_internal_r_LC_6_7_7 { VoxLink_Multinode_Protocol_Inst.vox_clk_internal_r_RNO, VoxLink_Multinode_Protocol_Inst.vox_clk_internal_r }
clb_pack LT_6_7 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO_1_LC_6_7_0, VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_1_LC_6_7_1, VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_RNO_0_LC_6_7_2, VoxLink_Multinode_Protocol_Inst.wait_for_chunk_r_LC_6_7_3, VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNI0L6B_LC_6_7_4, VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIP5832_LC_6_7_5, VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIDOF21_LC_6_7_6, VoxLink_Multinode_Protocol_Inst.vox_clk_internal_r_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNICOHL_LC_6_8_0 { VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNICOHL }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNI78691_LC_6_8_1 { VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNI78691 }
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_1_3_LC_6_8_2 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_1[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIV55M3_LC_6_8_3 { VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIV55M3 }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_packet_r_LC_6_8_4 { VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNO, VoxLink_Multinode_Protocol_Inst.transmit_packet_r }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_3_7_LC_6_8_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_3[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_7_LC_6_8_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_7_LC_6_8_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[7] }
clb_pack LT_6_8 { VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNICOHL_LC_6_8_0, VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNI78691_LC_6_8_1, VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_1_3_LC_6_8_2, VoxLink_Multinode_Protocol_Inst.vox_sck_en_RNIV55M3_LC_6_8_3, VoxLink_Multinode_Protocol_Inst.transmit_packet_r_LC_6_8_4, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_3_7_LC_6_8_5, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_7_LC_6_8_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_7_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack VoxLink_Multinode_Protocol_Inst.frame_counter_r_2_LC_6_9_0 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO[2], VoxLink_Multinode_Protocol_Inst.frame_counter_r[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO_0_0_LC_6_9_1 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO_0[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.frame_counter_r_0_LC_6_9_2 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO[0], VoxLink_Multinode_Protocol_Inst.frame_counter_r[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_LC_6_9_3 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNO, VoxLink_Multinode_Protocol_Inst.init_mode_active_r }
ble_pack VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNI1EAD1_0_LC_6_9_4 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNI1EAD1[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.frame_counter_r_1_LC_6_9_5 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO[1], VoxLink_Multinode_Protocol_Inst.frame_counter_r[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNICLBM1_LC_6_9_6 { VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNICLBM1 }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNIODTB2_LC_6_9_7 { VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNIODTB2 }
clb_pack LT_6_9 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_2_LC_6_9_0, VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNO_0_0_LC_6_9_1, VoxLink_Multinode_Protocol_Inst.frame_counter_r_0_LC_6_9_2, VoxLink_Multinode_Protocol_Inst.init_mode_active_r_LC_6_9_3, VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNI1EAD1_0_LC_6_9_4, VoxLink_Multinode_Protocol_Inst.frame_counter_r_1_LC_6_9_5, VoxLink_Multinode_Protocol_Inst.init_mode_active_r_RNICLBM1_LC_6_9_6, VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNIODTB2_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_3_LC_6_10_0 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[3], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_6_LC_6_10_1 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_6_LC_6_10_2 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_6_LC_6_10_3 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[6], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_5_LC_6_10_4 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[5], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[5] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_4_LC_6_10_5 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[4], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNIUIDG2_LC_6_10_6 { VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNIUIDG2 }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_2_LC_6_10_7 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[2], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[2] }
clb_pack LT_6_10 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_3_LC_6_10_0, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_1_6_LC_6_10_1, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_6_LC_6_10_2, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_6_LC_6_10_3, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_5_LC_6_10_4, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_4_LC_6_10_5, VoxLink_Multinode_Protocol_Inst.transmit_packet_r_RNIUIDG2_LC_6_10_6, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_2_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_11_LC_6_11_0 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[11] }
clb_pack LT_6_11 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_11_LC_6_11_0 }
set_location LT_6_11 6 11
ble_pack GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0_LC_6_12_6 { GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0 }
clb_pack LT_6_12 { GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0_LC_6_12_6 }
set_location LT_6_12 6 12
ble_pack u_pll_RNISDD6_0_LC_6_14_3 { u_pll_RNISDD6_0 }
clb_pack LT_6_14 { u_pll_RNISDD6_0_LC_6_14_3 }
set_location LT_6_14 6 14
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_0_LC_7_5_0 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[0], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[0], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_1_LC_7_5_1 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[1], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[1], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_2_LC_7_5_2 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[2], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[2], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_3_LC_7_5_3 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[3], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[3], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_4_LC_7_5_4 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[4], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[4], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_5_LC_7_5_5 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[5], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[5], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[5] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_6_LC_7_5_6 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[6], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[6], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_7_LC_7_5_7 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[7], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[7], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[7] }
clb_pack LT_7_5 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_0_LC_7_5_0, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_1_LC_7_5_1, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_2_LC_7_5_2, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_3_LC_7_5_3, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_4_LC_7_5_4, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_5_LC_7_5_5, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_6_LC_7_5_6, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_7_LC_7_5_7 }
set_location LT_7_5 7 5
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_8_LC_7_6_0 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[8], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[8], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_9_LC_7_6_1 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[9], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[9], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[9] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_10_LC_7_6_2 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[10], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[10], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[10] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_11_LC_7_6_3 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[11], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[11], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[11] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_12_LC_7_6_4 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[12], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[12], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_13_LC_7_6_5 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[13], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[13], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_14_LC_7_6_6 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[14], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[14], VoxLink_Multinode_Protocol_Inst.timeout_counter_r_cry_c[14] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_15_LC_7_6_7 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNO[15], VoxLink_Multinode_Protocol_Inst.timeout_counter_r[15] }
clb_pack LT_7_6 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_8_LC_7_6_0, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_9_LC_7_6_1, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_10_LC_7_6_2, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_11_LC_7_6_3, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_12_LC_7_6_4, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_13_LC_7_6_5, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_14_LC_7_6_6, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_15_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIM4TJ2_4_LC_7_7_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIM4TJ2[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNI2MUI3_LC_7_7_1 { VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNI2MUI3 }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_2_LC_7_7_2 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[2], VoxLink_Multinode_Protocol_Inst.magic_counter_r[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO_0_3_LC_7_7_3 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO_0[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_3_LC_7_7_4 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[3], VoxLink_Multinode_Protocol_Inst.magic_counter_r[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_1_LC_7_7_5 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[1], VoxLink_Multinode_Protocol_Inst.magic_counter_r[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNI6CHQ_3_LC_7_7_6 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNI6CHQ[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_0_LC_7_7_7 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO[0], VoxLink_Multinode_Protocol_Inst.magic_counter_r[0] }
clb_pack LT_7_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIM4TJ2_4_LC_7_7_0, VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNI2MUI3_LC_7_7_1, VoxLink_Multinode_Protocol_Inst.magic_counter_r_2_LC_7_7_2, VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNO_0_3_LC_7_7_3, VoxLink_Multinode_Protocol_Inst.magic_counter_r_3_LC_7_7_4, VoxLink_Multinode_Protocol_Inst.magic_counter_r_1_LC_7_7_5, VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNI6CHQ_3_LC_7_7_6, VoxLink_Multinode_Protocol_Inst.magic_counter_r_0_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0_3_LC_7_8_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_3_LC_7_8_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[3], VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_1_LC_7_8_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[1], VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_0_LC_7_8_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[0], VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0_2_LC_7_8_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_2_LC_7_8_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO[2], VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_pulse_LC_7_8_6 { VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNO, VoxLink_Multinode_Protocol_Inst.timeout_pulse }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIETUE3_3_LC_7_8_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIETUE3[3] }
clb_pack LT_7_8 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0_3_LC_7_8_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_3_LC_7_8_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_1_LC_7_8_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_0_LC_7_8_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNO_0_2_LC_7_8_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_2_LC_7_8_5, VoxLink_Multinode_Protocol_Inst.timeout_pulse_LC_7_8_6, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIETUE3_3_LC_7_8_7 }
set_location LT_7_8 7 8
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_0_4_LC_7_9_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_0[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_3_LC_7_9_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[3], VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_2_LC_7_9_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[2], VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_7_LC_7_9_4 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_en_LC_7_9_7 { VoxLink_Multinode_Protocol_Inst.vox_sck_en_THRU_LUT4_0, VoxLink_Multinode_Protocol_Inst.vox_sck_en }
clb_pack LT_7_9 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO_0_4_LC_7_9_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_3_LC_7_9_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_2_LC_7_9_3, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_0_7_LC_7_9_4, VoxLink_Multinode_Protocol_Inst.vox_sck_en_LC_7_9_7 }
set_location LT_7_9 7 9
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_0_LC_7_10_0 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[0], VoxLink_Multinode_Protocol_Inst.bit_count_r[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_1_LC_7_10_1 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[1], VoxLink_Multinode_Protocol_Inst.bit_count_r[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_2_LC_7_10_3 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[2], VoxLink_Multinode_Protocol_Inst.bit_count_r[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_0_3_LC_7_10_4 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_0[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_3_LC_7_10_5 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO[3], VoxLink_Multinode_Protocol_Inst.bit_count_r[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.bit_count_r_RNI25C71_3_LC_7_10_6 { VoxLink_Multinode_Protocol_Inst.bit_count_r_RNI25C71[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNIJOCL2_2_LC_7_10_7 { VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNIJOCL2[2] }
clb_pack LT_7_10 { VoxLink_Multinode_Protocol_Inst.bit_count_r_0_LC_7_10_0, VoxLink_Multinode_Protocol_Inst.bit_count_r_1_LC_7_10_1, VoxLink_Multinode_Protocol_Inst.bit_count_r_2_LC_7_10_3, VoxLink_Multinode_Protocol_Inst.bit_count_r_RNO_0_3_LC_7_10_4, VoxLink_Multinode_Protocol_Inst.bit_count_r_3_LC_7_10_5, VoxLink_Multinode_Protocol_Inst.bit_count_r_RNI25C71_3_LC_7_10_6, VoxLink_Multinode_Protocol_Inst.frame_counter_r_RNIJOCL2_2_LC_7_10_7 }
set_location LT_7_10 7 10
ble_pack vox_clk_cdc_stage_1_LC_7_11_5 { vox_clk_cdc_stage_1_THRU_LUT4_0, vox_clk_cdc_stage_1 }
clb_pack LT_7_11 { vox_clk_cdc_stage_1_LC_7_11_5 }
set_location LT_7_11 7 11
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIUGVU_0_LC_8_5_0 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIUGVU[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIJ60V_4_LC_8_5_1 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIJ60V[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNI2KTA5_0_LC_8_5_2 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNI2KTA5[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIU3FM1_15_LC_8_5_3 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIU3FM1[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIJOEM1_5_LC_8_5_4 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIJOEM1[5] }
clb_pack LT_8_5 { VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIUGVU_0_LC_8_5_0, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIJ60V_4_LC_8_5_1, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNI2KTA5_0_LC_8_5_2, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIU3FM1_15_LC_8_5_3, VoxLink_Multinode_Protocol_Inst.timeout_counter_r_RNIJOEM1_5_LC_8_5_4 }
set_location LT_8_5 8 5
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_9_LC_8_6_0 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO[9], VoxLink_Multinode_Protocol_Inst.transmit_shift_r[9] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_10_LC_8_6_1 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[10] }
ble_pack VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_12_LC_8_6_2 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIILIQ_LC_8_6_3 { VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIILIQ }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIKVB43_4_LC_8_6_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIKVB43[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNI0FCR5_LC_8_6_5 { VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNI0FCR5 }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNICRUE3_1_LC_8_6_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNICRUE3[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIDSUE3_2_LC_8_6_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIDSUE3[2] }
clb_pack LT_8_6 { VoxLink_Multinode_Protocol_Inst.transmit_shift_r_9_LC_8_6_0, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_10_LC_8_6_1, VoxLink_Multinode_Protocol_Inst.transmit_shift_r_RNO_2_12_LC_8_6_2, VoxLink_Multinode_Protocol_Inst.magic_full_r_RNIILIQ_LC_8_6_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIKVB43_4_LC_8_6_4, VoxLink_Multinode_Protocol_Inst.timeout_pulse_RNI0FCR5_LC_8_6_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNICRUE3_1_LC_8_6_6, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIDSUE3_2_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_RNIOLUB_LC_8_7_0 { VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_RNIOLUB }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2_4_LC_8_7_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_0_LC_8_7_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[0], VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNI6EHQ2_0_LC_8_7_3 { VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNI6EHQ2[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_LC_8_7_4 { VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_THRU_LUT4_0, VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIQ5CS1_0_LC_8_7_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIQ5CS1[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2_0_4_LC_8_7_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2_0[4] }
clb_pack LT_8_7 { VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_RNIOLUB_LC_8_7_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2_4_LC_8_7_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_0_LC_8_7_2, VoxLink_Multinode_Protocol_Inst.magic_counter_r_RNI6EHQ2_0_LC_8_7_3, VoxLink_Multinode_Protocol_Inst.vox_in_clk_p_d_LC_8_7_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIQ5CS1_0_LC_8_7_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNIEQRV2_0_4_LC_8_7_6 }
set_location LT_8_7 8 7
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_0_c_inv_LC_8_8_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_0_c_inv, VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_0_c }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_1_LC_8_8_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[1], VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[1], VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_1_c }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_2_LC_8_8_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[2], VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[2], VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_2_c }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_3_LC_8_8_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[3], VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[3], VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_3_c }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_4_LC_8_8_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_RNO[4], VoxLink_Multinode_Protocol_Inst.u_input_fifo.count[4] }
clb_pack LT_8_8 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.un1_count_cry_0_c_inv_LC_8_8_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_1_LC_8_8_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_2_LC_8_8_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_3_LC_8_8_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.count_4_LC_8_8_4 }
set_location LT_8_8 8 8
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_7_LC_8_9_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_7_LC_8_9_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[7], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[7] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_8_LC_8_9_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_8_LC_8_9_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[8], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[8] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_13_LC_8_9_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[13], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI8R4H_13_LC_8_9_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI8R4H[13] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0_3_LC_8_9_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0_2_LC_8_9_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0[2] }
clb_pack LT_8_9 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_7_LC_8_9_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_7_LC_8_9_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_8_LC_8_9_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_8_LC_8_9_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_13_LC_8_9_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI8R4H_13_LC_8_9_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0_3_LC_8_9_6, VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO_0_2_LC_8_9_7 }
set_location LT_8_9 8 9
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_11_LC_8_10_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[11] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_11_LC_8_10_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[11], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[11] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_3_LC_8_10_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_3_LC_8_10_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[3], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[3] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI4N4H_11_LC_8_10_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI4N4H[11] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_12_LC_8_10_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_12_LC_8_10_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[12], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[12] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_13_LC_8_10_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[13] }
clb_pack LT_8_10 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_11_LC_8_10_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_11_LC_8_10_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_3_LC_8_10_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_3_LC_8_10_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI4N4H_11_LC_8_10_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_12_LC_8_10_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_12_LC_8_10_6, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_13_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack vox_clk_cdc_stage_2_LC_8_11_2 { vox_clk_cdc_stage_2_THRU_LUT4_0, vox_clk_cdc_stage_2 }
clb_pack LT_8_11 { vox_clk_cdc_stage_2_LC_8_11_2 }
set_location LT_8_11 8 11
ble_pack VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_1_c_LC_9_5_0 { VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_1_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_1_LC_9_5_1 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[1], VoxLink_Multinode_Protocol_Inst.vox_sck_counter[1], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_2_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_2_LC_9_5_2 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[2], VoxLink_Multinode_Protocol_Inst.vox_sck_counter[2], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_3_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_3_LC_9_5_3 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[3], VoxLink_Multinode_Protocol_Inst.vox_sck_counter[3], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_4_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_4_LC_9_5_4 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[4], VoxLink_Multinode_Protocol_Inst.vox_sck_counter[4], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_5_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_5_LC_9_5_5 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[5], VoxLink_Multinode_Protocol_Inst.vox_sck_counter[5], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_6_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_1_LC_9_5_6 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[1], VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[1], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_7_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_2_LC_9_5_7 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[2], VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[2], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_8_c }
clb_pack LT_9_5 { VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_1_c_LC_9_5_0, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_1_LC_9_5_1, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_2_LC_9_5_2, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_3_LC_9_5_3, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_4_LC_9_5_4, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_5_LC_9_5_5, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_1_LC_9_5_6, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_2_LC_9_5_7 }
set_location LT_9_5 9 5
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_3_LC_9_6_0 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[3], VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[3], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_9_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_4_LC_9_6_1 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[4], VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[4], VoxLink_Multinode_Protocol_Inst.un2_vox_sck_counter_cry_10_c }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_5_LC_9_6_2 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[5], VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[5] }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_LC_9_6_3 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_RNO[0], VoxLink_Multinode_Protocol_Inst.vox_sck_counter[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_0_LC_9_6_6 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_RNO[0], VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0[0] }
clb_pack LT_9_6 { VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_3_LC_9_6_0, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_4_LC_9_6_1, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_5_LC_9_6_2, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_LC_9_6_3, VoxLink_Multinode_Protocol_Inst.vox_sck_counter_0_0_LC_9_6_6 }
set_location LT_9_6 9 6
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_2_LC_9_7_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_2_LC_9_7_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[2], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI2L4H_10_LC_9_7_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI2L4H[10] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_10_LC_9_7_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[10], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[10] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_4_LC_9_7_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_4_LC_9_7_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[4], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[4] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_5_LC_9_7_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[5] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_5_LC_9_7_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[5], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[5] }
clb_pack LT_9_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_2_LC_9_7_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_2_LC_9_7_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI2L4H_10_LC_9_7_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_10_LC_9_7_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_4_LC_9_7_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_4_LC_9_7_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_5_LC_9_7_6, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_5_LC_9_7_7 }
set_location LT_9_7 9 7
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_0_LC_9_8_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_0_LC_9_8_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[0], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_1_LC_9_8_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_1_LC_9_8_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[1], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_9_LC_9_8_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[9] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_9_LC_9_8_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[9], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[9] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNIPL2M_1_LC_9_8_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNIPL2M[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_10_LC_9_8_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[10] }
clb_pack LT_9_8 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_0_LC_9_8_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_0_LC_9_8_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_1_LC_9_8_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_1_LC_9_8_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_9_LC_9_8_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_9_LC_9_8_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNIPL2M_1_LC_9_8_6, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_10_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIOQVF1_2_LC_9_9_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIOQVF1[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIJLLM2_1_LC_9_9_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIJLLM2[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNINJ2M_0_LC_9_9_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNINJ2M[0] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIKMVF1_2_LC_9_9_5 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIKMVF1[2] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIBDLM2_1_LC_9_9_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIBDLM2[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.magic_register_r_0_LC_9_9_7 { VoxLink_Multinode_Protocol_Inst.magic_register_r_RNO[0], VoxLink_Multinode_Protocol_Inst.magic_register_r[0] }
clb_pack LT_9_9 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIOQVF1_2_LC_9_9_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIJLLM2_1_LC_9_9_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNINJ2M_0_LC_9_9_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIKMVF1_2_LC_9_9_5, VoxLink_Multinode_Protocol_Inst.u_input_fifo.rd_pointer_RNIBDLM2_1_LC_9_9_6, VoxLink_Multinode_Protocol_Inst.magic_register_r_0_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack vox_rxd_cdc_stage_2_LC_9_10_1 { vox_rxd_cdc_stage_2_THRU_LUT4_0, vox_rxd_cdc_stage_2 }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI6P4H_12_LC_9_10_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI6P4H[12] }
ble_pack vox_rxd_cdc_stage_1_LC_9_10_4 { vox_rxd_cdc_stage_1_THRU_LUT4_0, vox_rxd_cdc_stage_1 }
clb_pack LT_9_10 { vox_rxd_cdc_stage_2_LC_9_10_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNI6P4H_12_LC_9_10_3, vox_rxd_cdc_stage_1_LC_9_10_4 }
set_location LT_9_10 9 10
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_6_LC_11_6_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[6], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_15_LC_11_6_3 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[15], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_14_LC_11_6_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO[14], VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data[14] }
clb_pack LT_11_6 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_6_LC_11_6_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_15_LC_11_6_3, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_14_LC_11_6_6 }
set_location LT_11_6 11 6
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_1_LC_11_7_1 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[1], VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[1] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_0_LC_11_7_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_RNO[0], VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer[0] }
clb_pack LT_11_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_1_LC_11_7_1, VoxLink_Multinode_Protocol_Inst.u_input_fifo.wr_pointer_0_LC_11_7_7 }
set_location LT_11_7 11 7
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_6_LC_11_8_0 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[6] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_15_LC_11_8_2 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[15] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_14_LC_11_8_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0[14] }
clb_pack LT_11_8 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_6_LC_11_8_0, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_15_LC_11_8_2, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNO_0_14_LC_11_8_4 }
set_location LT_11_8 11 8
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNIAT4H_14_LC_11_9_4 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNIAT4H[14] }
ble_pack VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNICV4H_15_LC_11_9_7 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNICV4H[15] }
clb_pack LT_11_9 { VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNIAT4H_14_LC_11_9_4, VoxLink_Multinode_Protocol_Inst.u_input_fifo.fifo_data_RNICV4H_15_LC_11_9_7 }
set_location LT_11_9 11 9
set_location clk_pll 3 0
set_location u_pll_RNISDD6_1 6 15
set_location clk_in 3 15
set_location u_pll_RNISDD6 6 0
set_io clk_12mhz D2
set_io vox_out_rxd_p F3
set_io vox_out_clk_p C6
set_io vox_in_rxd_p A4
set_io vox_in_clk_p B6
