set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 2 7 4 #SB_LUT4
set_location GB_BUFFER_clk_12mhz_bufg_THRU_LUT4_0 6 1 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.rx_shift_1_THRU_LUT4_0 4 5 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.rx_shift_0_THRU_LUT4_0 4 5 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_en_THRU_LUT4_0 6 10 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_rx_valid_RNO_0 6 6 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[6] 6 7 1 #SB_DFFER
set_location VoxLink_BNO_Driver_Inst.byte_counter_RNIUCJ41[0] 4 6 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_3_c 6 9 2 #SB_CARRY
set_location u_pll_RNISDD6 1 1 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[7] 5 10 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0_RNO[0] 6 10 3 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.bno_state_RNIKR3N[1] 4 8 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r[2] 5 10 1 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.tick_counter_RNIPD8Q3[1] 5 9 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0[0] 6 10 3 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.tx_data_1[0] 6 8 2 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.byte_counter_RNO_0[0] 4 6 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_10_c 6 10 1 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_0[7] 6 7 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[1] 6 9 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[6] 6 10 1 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_1_c 6 9 0 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.int_sda_RNO_3 4 10 3 #SB_LUT4
set_location vox_clk_p 6 5 0 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.trigger_rx_RNO_0 4 7 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_6_c 6 9 5 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.tick_counter_RNO[1] 4 9 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.rx_valid_RNO 4 5 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[3] 6 9 5 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.bit_counter_RNO[0] 5 9 4 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.trigger_tx 4 8 6 #SB_DFFR
set_location vox_clk_p_RNO 6 5 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_sda_RNO 4 10 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[7] 6 7 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.driver_idle_RNO_1 4 9 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_1[2] 2 7 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_4_c 6 9 3 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.i2c_state[1] 2 9 5 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.bit_counter_RNIAQ6I2[2] 5 7 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[2] 5 7 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[2] 5 10 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0_RNO[3] 6 10 0 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.byte_counter_RNO[1] 4 7 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r[1] 5 10 0 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.tick_counter_RNO[0] 5 9 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[4] 5 7 2 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.rx_valid 4 5 5 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.int_scl_RNO 5 7 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_rx_valid_RNO 5 6 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_rx_valid 5 6 7 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[2] 6 9 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.driver_idle 4 10 1 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[5] 5 10 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[6] 6 7 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.driver_idle_RNO_2 4 7 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r[4] 5 10 4 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.int_scl_RNO_3 5 8 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNI8F6H_0[6] 6 6 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0[2] 6 9 4 #SB_DFFS
set_location VoxLink_I2C_Driver_inst.tick_counter_RNO_0[1] 4 9 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_0[1] 2 9 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[0] 6 7 7 #SB_DFFES
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[0] 6 10 5 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.tick_counter[1] 4 9 1 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.rx_shift[0] 4 5 0 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.int_sda_RNO_1 4 10 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.bit_counter[0] 5 9 4 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[1] 5 10 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0_RNO[2] 6 9 4 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.byte_counter_RNO[0] 4 8 0 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.bno_state[1] 4 8 3 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.tx_data_r[0] 5 10 2 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_2[2] 2 7 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_en_RNI1AAU3 4 9 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.SB_GB_IO_inst_sda_RNO 5 5 0 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.trigger_rx 4 7 5 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.int_sda_RNO_4 6 8 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_en_RNISQUM4 4 9 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[3] 6 9 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[4] 6 9 6 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.byte_counter[1] 4 7 1 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_7_c 6 9 6 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[4] 5 10 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[1] 2 9 5 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.finish_transaction_RNO 4 7 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r[7] 5 10 7 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.int_scl_RNO_2 5 8 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_0[2] 2 7 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[7] 6 7 4 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[4] 6 9 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[1] 6 9 2 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.driver_idle_RNO 4 10 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.bit_counter_RNO[2] 5 9 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.SB_GB_IO_inst_scl_RNIRF5B1 5 7 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tick_counter[0] 5 9 5 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.rx_shift[1] 4 5 1 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.int_sda_RNO_0 4 10 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_8_c 6 9 7 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_5_c 6 9 4 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[0] 5 10 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[5] 5 7 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0_RNO[1] 6 9 1 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.bno_state_ns_1_0_.N_6_i 4 8 3 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.bno_state[0] 4 8 2 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.tx_data_r[3] 5 10 3 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_state_RNIJD9U1[1] 5 8 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0[1] 6 9 1 #SB_DFFS
set_location VoxLink_I2C_Driver_inst.SB_GB_IO_inst_scl_RNI4RMM 2 9 6 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.trigger_rx_RNO 4 7 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_2_c 6 9 1 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_0[6] 6 7 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNIDBTK[3] 5 8 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[3] 5 7 5 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_sck_en_RNIOGTI6 5 9 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[0] 6 10 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[5] 6 9 7 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.bit_counter_RNISLUR1[2] 5 9 1 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.finish_transaction_RNO_0 4 7 6 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.byte_counter[0] 4 8 0 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[0] 6 7 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNIS9CV[4] 6 7 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.SB_GB_IO_inst_scl_RNO 6 13 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r[6] 5 10 6 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.int_scl_RNO_1 5 8 1 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_3[2] 2 7 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNIFIIQ1[2] 4 9 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.bit_counter_RNO_0[2] 5 9 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO_0[3] 6 6 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[5] 6 9 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter[2] 6 9 3 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.bit_counter_RNO[1] 5 9 0 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.bit_counter[2] 5 9 7 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[4] 5 7 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.driver_idle_RNO_0 4 10 0 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.tx_data_1_RNO[0] 6 8 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[2] 5 7 4 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.int_sda 4 10 6 #SB_DFFES
set_location VoxLink_I2C_Driver_inst.i2c_state_RNO[3] 5 7 5 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNI8F6H[6] 4 8 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_en 6 10 7 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.bno_state_ns_1_0_.N_5_i 4 8 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[3] 5 10 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_scl_RNO_0 5 8 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0_RNO[4] 6 10 2 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.byte_counter_RNO[2] 4 7 2 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_scl 5 7 6 #SB_DFFES
set_location VoxLink_I2C_Driver_inst.int_rx_valid_RNO_1 5 8 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state[5] 5 7 3 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0[4] 6 10 2 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.trigger_tx_RNO 4 8 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.tx_data_r_RNO[6] 5 10 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.un2_i2c_sck_counter_1_cry_9_c 6 10 0 #SB_CARRY
set_location VoxLink_I2C_Driver_inst.tx_data_r[5] 5 10 5 #SB_DFFER
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_0[3] 6 10 0 #SB_DFFS
set_location VoxLink_I2C_Driver_inst.SB_GB_IO_inst_scl_RNIUKMM 5 7 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNILKU33[1] 4 9 3 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_sck_counter_RNO[6] 6 10 1 #SB_LUT4
set_location VoxLink_BNO_Driver_Inst.finish_transaction 4 7 7 #SB_DFFR
set_location VoxLink_BNO_Driver_Inst.byte_counter[2] 4 7 2 #SB_DFFR
set_location VoxLink_I2C_Driver_inst.tick_counter_RNITN9U1[1] 4 9 6 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.int_sda_RNO_2 4 11 4 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.i2c_state_RNI296H[0] 5 8 7 #SB_LUT4
set_location VoxLink_I2C_Driver_inst.bit_counter[1] 5 9 0 #SB_DFFR
set_location GND -1 -1 -1 #GND
set_io vox_clk_p E2
set_io i2c_scl C6
set_io clk_12mhz F2
set_io bno_rstn B6
set_io bno_interrupt A3
set_io i2c_sda D6
